<!doctype html>
<html ng-app="pizzaApp">
<head>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<script src="angular.js"></script>
	<script src="angular-messages.js"></script>
	<script src="app.js"></script>
</head>
<body>
<div class="container" ng-controller="pizzaController as pzCtrl">
	<div class="well">
		<h1>
			Pending orders: {{ pzCtrl.count }}
		</h1>
		<button class="btn btn-success" ng-click="pzCtrl.addOrder()">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		<button class="btn btn-danger" ng-click="pzCtrl.removeOrder()">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
	</div>
	<div class="well">
		<h1>Make a reservation</h1>

		<form name="reservationForm">

			<!--<pre>{{ reservationForm | json}}</pre>-->

			<div class="form-group"
				 ng-class="{'has-error': reservationForm.clientName.$touched && reservationForm.clientName.$invalid}">
				<label class="control-label" for="clientName">Client name</label>
				<input type="text" class="form-control" id="clientName" name="clientName"
					   ng-model="pzCtrl.reservation.clientName" required/>

				<!-- Demo with ng-show -->
				<span class="help-block"
					  ng-show="reservationForm.clientName.$touched && reservationForm.clientName.$error.required">Client name is required</span>
			</div>


			<div class="form-group"
				 ng-class="{'has-error': reservationForm.tableNumber.$touched && reservationForm.tableNumber.$invalid}">
				<label class="control-label" for="tableNumber">Table number</label>
				<input type="number" class="form-control" id="tableNumber" name="tableNumber"
					   ng-model="pzCtrl.reservation.tableNumber"
					   required min="1" max="15"/>

				<!-- Demo with ng-messages (inline) -->
				<span class="help-block"
					  ng-show="reservationForm.tableNumber.$touched && reservationForm.tableNumber.$error"
					  ng-messages="reservationForm.tableNumber.$error">
				<span ng-message="required">Table number is required</span>
				<span ng-message="min">Table number is not must be greater than 1</span>
				<span ng-message="max">Table number is not must be less than 15</span>
				</span>
			</div>

			<div class="form-group"
				 ng-class="{'has-error': reservationForm.checkin.$touched && reservationForm.checkin.$invalid}">
				<label class="control-label" for="checkin">Check-in</label>
				<input type="datetime-local" class="form-control" id="checkin" name="checkin"
					   ng-model="pzCtrl.reservation.checkin" required ng-max="pzCtrl.reservation.checkout"/>

				<!-- Demo with ng-messages (external file) -->
				<span class="help-block"
					  ng-show="reservationForm.checkin.$touched && reservationForm.checkin.$error"
					  ng-messages="reservationForm.checkin.$error">
					<span ng-messages-include="validation-messages.html"></span>
				</span>
			</div>

			<div class="form-group"
				 ng-class="{'has-error': reservationForm.checkout.$touched && reservationForm.checkout.$invalid}">
				<label class="control-label" for="checkout">Check-out</label>
				<input type="datetime-local" class="form-control" id="checkout" name="checkout"
					   ng-model="pzCtrl.reservation.checkout" required ng-min="pzCtrl.reservation.checkin"/>
				<span class="help-block"
					  ng-show="reservationForm.checkout.$touched && reservationForm.checkout.$error.required">Check-out is required</span>
				<span class="help-block"
					  ng-show="reservationForm.checkout.$touched && reservationForm.checkout.$error.datetimelocal">Check-out is not valid</span>
				<span class="help-block"
					  ng-show="reservationForm.checkout.$touched && reservationForm.checkout.$error.min">Check-out must be after check-in</span>
			</div>

			<button class="btn btn-success" ng-click="pzCtrl.createReservation(reservationForm)"
					ng-disabled="reservationForm.$invalid">Save
			</button>
		</form>
	</div>
</div>
</body>
</html>